# gc requirements.txt | sort > c:\temp\t.txt
# pip install -r requirements.txt
# pip freeze > frozen_pyspark_requirements.txt
autopep8
# dask=2024.2.1
findspark
flake8
networkx
numba
numpy>=1.15,<2
pandas>=1.0.5,<2.0
prettyprinter
psutil 
pyarrow>=4.0.0
Py4J>=0.10.9.7
pyspark==3.5.1
pytest
pytz 
# rope
# scipy
# snappy 
# statsmodels 