# gc requirements.txt | sort > c:\temp\t.txt
# pip install -r requirements.txt
autopep8
findspark
flake8
numba
numpy>=1.14
pandas>=0.23.2,<2.0
psutil 
pyarrow>=1.0.0
Py4J>=0.10.9.3
pyspark==3.3.2
pytest
pytz 
rope
scipy
snappy 
statsmodels 
