# gc requirements.txt | sort > c:\temp\t.txt
# pip install -r requirements.txt
# pip freeze > frozen_requirements.txt
# Python==3.11.8
autopep8
dask==2024.1.1
dask[dataframe]==2024.1.1
dask-sql==2024.3.0
# dask[distributed] too many conflicts for now
findspark
flake8
networkx
numba
numpy>=1.15,<2
pandas>=1.0.5,<2.0
prettyprinter
psutil 
pyarrow>=4.0.0
pydantic
Py4J>=0.10.9.7
pyspark==3.5.1
pytest
pytz
psutil
scipy
statsmodels
terminology