# cSpell: disable
autopep8
findspark
flake8
isort
networkx
numba
numpy>=1.15,<2
pandas>=1.0.5,<2.0
prettyprinter
psutil 
Py4J>=0.10.9.7
pyarrow>=4.0.0
pyclean
pydantic
pyspark==3.5.1
pytest
pytz
statsmodels
